*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;

  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(124, 230, 180);
}

.calc__container{
  width: 90%;
  max-width: 500px;

  height: 90%;
  max-height: 800px;

  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);

  background-color: azure;

  overflow: hidden;
}
.calc__display{
  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 2rem;
}
.input__values{
  font-size: 2.5rem;

  color: rgb(66, 66, 66);
}
.result{
  font-size: 5rem;
  margin-top: 1.5rem;
}


.calc__keyboard{
  width: 100%;
  height: 70%;

  overflow: hidden;

  display: grid;
  box-shadow: -4px 0 5px rgba(0, 0, 0, .3);
}
.key__line{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#key-line4{
  grid-template-columns: 1fr 2fr 1fr;
}
.key{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.7rem;
  color: rgb(66, 66, 66);

  /* border: 1px solid rgba(0, 0, 0, .05); */

  cursor: pointer;
}
.clear{
  background-color: rgba(243, 176, 51, 0.63);
  font-size: 4rem;
}
.equal{
  background-color: rgba(243, 176, 51, 0.63);
  border-radius: 1rem 1rem 0 0;
}